// COLORS
$color-dark-primary: #130f0f; //for titles/bg
$color-dark-secondary: #584d4f; // for body text
$color-dark-black: #080707; // for bg 
$color-dark-blackest: #161212; // for outside body/nav bg

$color-light-primary: #faaca8; //opacity 60% for hamburger menu
$color-light-secondary: #ffd6f8;

$color-black: #000;
$color-white: #fff;

//GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;